.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: white;
}

.nav {
  width: 100%;
  height: 12vh;
  background-color: #00dee6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  padding: 1em;
}
.nav__logo {
  font-size: 2.8rem;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.nav__logo a {
  text-decoration: none;
  color: black;
}
.nav__logo:hover .nav__logo-img {
  transform: scale(1.15);
  color: #009499;
}
.nav__logo-img {
  color: #003e40;
  font-size: 3.2rem;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.6rem;
  width: 60%;
}
.nav__links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
.nav__links a:hover {
  color: #009499;
  transform: scale(1.2);
}
.nav__links__mobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  list-style: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-100%);
  background: linear-gradient(159deg, rgb(0, 222, 230) 0%, rgb(82, 223, 228) 22%, rgb(32, 186, 178) 100%);
}
.nav__links__mobile li {
  width: 60vw;
  text-align: center;
  border: 2px solid #003e40;
  border-radius: 25px;
  padding: 2px;
  transition: 0.3s;
}
.nav__links__mobile li:hover {
  width: 85vw;
  border: 2px solid #009499;
}
.nav__links__mobile .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px;
  font-size: 3rem;
  cursor: pointer;
  color: #003e40;
  transition: 1s ease-in-out;
}
.nav__links__mobile .close:hover {
  transform: rotate(360deg);
  color: #009499;
}
.nav__links__mobile-active {
  transform: translateY(0);
}
.nav__links__mobile-item {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-bottom: 5px;
  font-size: 30px;
  color: black;
}
.nav__links__mobile-item:hover {
  transform: scale(1.1);
}
.nav .burger {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  color: #003e40;
  transition: 0.3s ease-in-out;
}
.nav .burger:hover {
  color: #009499;
  transform: rotate(90deg);
  transform-origin: center;
}
.nav .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  height: 88vh;
  background-image: url("../img/main-big.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header__text {
  justify-content: flex-start;
  padding-left: 6em;
  margin-top: 19vh;
  width: 45%;
  color: rgb(241, 240, 240);
}
.header__text h1 {
  font-size: 5rem;
  letter-spacing: 0.05em;
}
.header__text p {
  margin-top: 0.2em;
  font-size: 2.5rem;
  margin-bottom: 0.8em;
}
.header__text-btn {
  padding: 7px 22px;
  border-radius: 20px;
  border: none;
  font-size: 2.5rem;
  background-color: #00dee6;
  color: rgb(241, 240, 240);
  transition: ease-out 0.3s;
}
.header__text-btn:hover {
  color: rgb(241, 240, 240);
  border-radius: 0px;
  box-shadow: inset 0 -100px 0 0 #003e40;
}

@media (max-width: 768px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.5rem;
    word-spacing: 0.1em;
  }
  .nav__links {
    display: none;
  }
  .nav .burger {
    display: flex;
  }
  .nav .wrapper {
    justify-content: space-between;
    padding: 0 1em 0 1em;
  }
  .header__text {
    width: 75%;
  }
  .header__text h1 {
    font-size: 3.2rem;
  }
  .header__text p {
    margin-top: 0.2em;
    font-size: 2.2rem;
    margin-bottom: 0.6em;
  }
  .header__text-btn {
    padding: 7px 20px;
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.3rem;
  }
  .nav__logo-img {
    font-size: 2.8rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.8rem;
  }
  .header__text {
    padding-left: 3em;
  }
}
@media (max-width: 375px) {
  .nav__logo-img {
    font-size: 2.5rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.5rem;
  }
  .header__text {
    padding-left: 2em;
  }
}
@media (max-width: 320px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.1rem;
    word-spacing: 0;
  }
  .nav__logo-img {
    font-size: 2.5rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.5rem;
  }
  .header__text {
    padding-left: 3em;
  }
  .header__text h1 {
    font-size: 2.5rem;
  }
  .header__text p {
    margin-top: 0.1em;
    font-size: 2rem;
  }
  .header__text-btn {
    padding: 6px 18px;
    font-size: 1.8rem;
  }
}
@media (min-width: 2000px) {
  .header {
    height: 40vh;
  }
  .header__text {
    margin-top: 14vh;
  }
  .header__text h1 {
    font-size: 5rem;
  }
  .header__text p {
    font-size: 3rem;
  }
  .header__text-btn {
    font-size: 3rem;
  }
  .nav__logo {
    font-size: 4rem;
  }
  .nav__logo-img {
    font-size: 4rem;
  }
  .nav__links {
    font-size: 3.8rem;
  }
}/*# sourceMappingURL=main.css.map */