.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.decoration-T {
  width: 20%;
  height: 6%;
  border: none;
  background-color: rgb(240, 240, 240);
  position: absolute;
  bottom: -4px;
  right: -50px;
  transform: skewX(-60deg);
}

.decoration-D {
  width: 20%;
  height: 6%;
  border: none;
  background-color: rgb(240, 240, 240);
  position: absolute;
  top: -4px;
  left: -50px;
  transform: skewX(-60deg);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 55%;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
  scroll-behavior: smooth;
  font-family: montserrat;
}

body {
  background-color: rgb(240, 240, 240);
}

.nav {
  width: 100%;
  height: 12vh;
  background-color: #00dee6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  padding: 1em;
}
.nav__logo {
  font-size: 2.8rem;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.nav__logo a {
  text-decoration: none;
  color: black;
}
.nav__logo:hover .nav__logo-img {
  transform: scale(1.15);
  color: #009499;
}
.nav__logo-img {
  color: #003e40;
  font-size: 3.2rem;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.6rem;
  width: 60%;
}
.nav__links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
.nav__links a:hover {
  color: #009499;
  transform: scale(1.2);
}
.nav__links__mobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  list-style: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-100%);
  background: linear-gradient(159deg, rgb(0, 222, 230) 0%, rgb(82, 223, 228) 22%, rgb(32, 186, 178) 100%);
}
.nav__links__mobile li {
  width: 60vw;
  text-align: center;
  border: 2px solid #003e40;
  border-radius: 25px;
  padding: 2px;
  transition: 0.3s;
}
.nav__links__mobile li:hover {
  width: 85vw;
  border: 2px solid #009499;
}
.nav__links__mobile .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px;
  font-size: 3rem;
  cursor: pointer;
  color: #003e40;
  transition: 1s ease-in-out;
}
.nav__links__mobile .close:hover {
  transform: rotate(360deg);
  color: #009499;
}
.nav__links__mobile-active {
  transform: translateY(0);
}
.nav__links__mobile-item {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-bottom: 5px;
  font-size: 30px;
  color: black;
}
.nav__links__mobile-item:hover {
  transform: scale(1.1);
}
.nav .burger {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  color: #003e40;
  transition: 0.3s ease-in-out;
}
.nav .burger:hover {
  color: #009499;
  transform: rotate(90deg);
  transform-origin: center;
}
.nav .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  height: 88vh;
  background-image: url("../img/main-big.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header__text {
  justify-content: flex-start;
  padding-left: 6em;
  margin-top: 19vh;
  width: 45%;
  color: rgb(241, 240, 240);
}
.header__text h1 {
  font-size: 5rem;
  letter-spacing: 0.05em;
}
.header__text p {
  margin-top: 0.2em;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.header__text-btn {
  padding: 7px 22px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-size: 2.5rem;
  background-color: #00dee6;
  color: rgb(241, 240, 240);
  transition: ease-out 0.3s;
}
.header__text-btn:hover {
  color: rgb(241, 240, 240);
  border-radius: 0px;
  box-shadow: inset 0 -100px 0 0 #003e40;
}

.main {
  background-color: rgb(240, 240, 240);
}

.mainOne {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
}
.mainOne__right {
  width: 55%;
  padding-right: 2em;
  font-size: 2.3rem;
  color: rgb(53, 53, 53);
  text-align: justify;
}
.mainOne__right h1 {
  margin-bottom: 15px;
  color: black;
  font-size: 4rem;
}
.mainOne__right p {
  margin-bottom: 1em;
}
.mainOne__right-btn {
  padding: 7px 22px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-size: 2.2rem;
  background-color: #00dee6;
  color: rgb(53, 53, 53);
  transition: ease-out 0.3s;
}
.mainOne__right-btn:hover {
  color: rgb(241, 240, 240);
  border-radius: 0px;
  box-shadow: inset 0 -100px 0 0 #003e40;
}
.mainOne__left {
  width: 45%;
}
.mainOne__left img {
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.mainTwo {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #00dee6;
  width: 100%;
  padding: 8em 3em;
  line-height: 1.4;
}
.mainTwo__elements {
  text-align: center;
  width: 100%;
  font-size: 2.3rem;
  padding: 1em;
}
.mainTwo__elements i {
  font-size: 7rem;
  margin-bottom: 0.2em;
}
.mainTwo__elements h2 {
  margin-bottom: 0.4em;
}
.mainTwo .wrapper {
  display: flex;
  flex-direction: row;
}

.mainGallery {
  padding: 3em 3em 5em 3em;
  text-align: center;
}
.mainGallery h1 {
  font-size: 4rem;
  position: relative;
}
.mainGallery h1::before {
  content: "";
  text-align: center;
  width: 12%;
  height: 5px;
  border-radius: 2px;
  background-color: #00dee6;
  position: absolute;
  top: 1.2em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mainGallery__box {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 0;
}
.mainGallery__box__once {
  overflow: hidden;
  width: 30%;
  padding: 0.5em;
}
.mainGallery__box__once__foto {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.mainGallery__box__once__foto:hover {
  transform: scale(1.4);
}
.mainGallery-btn {
  padding: 7px 22px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-size: 2.2rem;
  background-color: #00dee6;
  color: rgb(53, 53, 53);
  transition: ease-out 0.3s;
}
.mainGallery-btn:hover {
  color: rgb(241, 240, 240);
  border-radius: 0px;
  box-shadow: inset 0 -100px 0 0 #003e40;
}

.mainCall {
  overflow: hidden;
  padding: 3em 3em 5em 3em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00dee6;
  width: 100%;
  text-align: center;
}
.mainCall h2 {
  font-size: 4rem;
  margin-bottom: 1.5em;
  position: relative;
}
.mainCall h2::before {
  content: "";
  text-align: center;
  border-radius: 2px;
  width: 12%;
  height: 5px;
  background-color: rgb(241, 240, 240);
  position: absolute;
  top: 1.2em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mainCall__btn {
  padding: 0.8em;
  border-radius: 2px;
  text-decoration: none;
  border: none;
  font-size: 2.3rem;
  background-color: #003e40;
  color: rgb(241, 240, 240);
  transition: ease-in-out 0.8s;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.mainCall__btn:hover {
  color: black;
  box-shadow: inset 270px 0 0 0 rgb(240, 240, 240);
}
.mainCall .mainCall__btn:hover .shake {
  animation: shake 0.5s ease-in-out;
}
.mainCall .mainCall__btn:hover .move {
  animation: move 0.8s ease-in-out;
}
.mainCall .decoration-D,
.mainCall .decoration-T {
  height: 15%;
}
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.review {
  padding: 5em 3em 3em 3em;
  width: 100%;
  text-align: center;
}
.review__all {
  font-size: 2.3rem;
  margin-bottom: 1.5em;
}
.review__img {
  width: 7rem;
  margin-bottom: -0.2em;
}
.review h2 {
  font-size: 4rem;
  margin-bottom: 1.5em;
  position: relative;
}
.review h2::before {
  content: "";
  text-align: center;
  border-radius: 2px;
  width: 8%;
  height: 5px;
  background-color: #00dee6;
  position: absolute;
  top: 1.2em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mainEnd {
  padding: 6em 3em 6em 3em;
  position: relative;
  overflow: hidden;
  background-color: #00dee6;
  display: flex;
  width: 100%;
}
.mainEnd__form {
  width: 65%;
  padding: 1em;
}
.mainEnd__form form {
  text-align: center;
}
.mainEnd__form input {
  width: 32rem;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 8px;
  border: 1px solid #00dee6;
  background-color: rgb(240, 240, 240);
  outline: none;
  transition: all 0.3s ease-in-out;
}
.mainEnd__form input:focus {
  border: 1px solid #009499;
  background-color: #d5f6f7;
  color: #003e40;
}
.mainEnd__form-file {
  background-color: rgb(240, 240, 240);
  color: grey;
}
.mainEnd__form-button {
  padding: 7px 22px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  width: 35rem;
  padding: 1em;
  background-color: rgb(240, 240, 240);
  color: rgb(53, 53, 53);
  margin-top: 1em;
  font-size: 1.8rem;
  transition: ease-in-out 0.7s;
}
.mainEnd__form-button:hover {
  color: rgb(241, 240, 240);
  border-radius: 0px;
  box-shadow: inset 0 -100px 0 0 #003e40;
}
.mainEnd__form p {
  margin-top: 0.3em;
  font-size: 2.1rem;
}
.mainEnd__column {
  background-color: rgb(240, 240, 240);
  width: 35%;
  border-radius: 10px;
  color: #003e40;
  text-align: center;
}
.mainEnd__column__us {
  width: 100%;
  padding: 2em;
}
.mainEnd__column__us p {
  font-size: 2.4rem;
  margin-bottom: 0.6em;
}
.mainEnd__column__us ul {
  list-style: none;
  font-size: 2rem;
}
.mainEnd__column__us ul i {
  color: #009499;
}
.mainEnd__column__us ul li {
  margin-bottom: 0.3em;
}
.mainEnd__column__workTime {
  border-top: 2px solid #00dee6;
  width: 100%;
  padding: 1em;
  font-size: 2.2rem;
}
.mainEnd__column__workTime table {
  display: flex;
  justify-content: center;
}
.mainEnd__column__workTime p {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
}
.mainEnd__column__workTime-left {
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
}
.mainEnd__column__workTime-right {
  text-align: right;
  font-size: 2rem;
}
.mainEnd h1 {
  margin-top: 0.5em;
  color: black;
  font-size: 4rem;
}
.mainEnd .decoration-D,
.mainEnd .decoration-T {
  height: 6%;
}
.mainEnd .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  color: #003e40;
  font-size: 1.9rem;
}
.footer__up {
  display: flex;
  padding: 1em 1em 1em 1em;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__up a {
  color: #003e40;
  text-decoration: none;
}
.footer__down {
  border-top: 2px solid #00dee6;
  font-size: 1.6rem;
  display: flex;
  padding: 1em;
  justify-content: center;
}

@media (max-width: 768px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.5rem;
    word-spacing: 0.1em;
  }
  .nav__links {
    display: none;
  }
  .nav .burger {
    display: flex;
  }
  .nav .wrapper {
    justify-content: space-between;
    padding: 0 1em 0 1em;
  }
  .header__text {
    width: 75%;
  }
  .header__text h1 {
    font-size: 3.2rem;
  }
  .header__text p {
    margin-top: 0.2em;
    font-size: 2.2rem;
    margin-bottom: 0.6em;
  }
  .header__text-btn {
    padding: 7px 20px;
    font-size: 2rem;
  }
  .mainOne__right {
    font-size: 2rem;
  }
  .mainOne__right h1 {
    font-size: 3rem;
  }
  .mainOne__right-btn {
    font-size: 2rem;
  }
  .mainTwo__elements {
    font-size: 2.3rem;
  }
  .mainTwo__elements h2 {
    font-size: 3rem;
  }
  .mainTwo .wrapper {
    flex-direction: column;
  }
  .mainGallery {
    padding: 3em;
  }
  .mainGallery h1 {
    position: relative;
  }
  .mainGallery h1::before {
    width: 15%;
  }
  .mainGallery__box {
    flex-direction: column;
  }
  .mainGallery__box__once {
    width: 80%;
  }
  .mainCall h2 {
    position: relative;
    margin-bottom: 1em;
    font-size: 3.5rem;
  }
  .mainCall h2::before {
    width: 45%;
  }
  .mainCall__btn {
    width: 60%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 2rem;
  }
  .mainCall .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainEnd {
    text-align: center;
  }
  .mainEnd__form {
    width: 100%;
    margin-bottom: 1em;
  }
  .mainEnd__column {
    width: 80%;
  }
  .mainEnd__column__us {
    padding: 0.5em;
  }
  .mainEnd__column__us p {
    font-size: 2.2em;
  }
  .mainEnd__column__us ul {
    font-size: 1.8rem;
  }
  .mainEnd__column__workTime {
    padding: 0.5em;
    font-size: 2rem;
  }
  .mainEnd__column__workTime p {
    font-size: 2.2rem;
  }
  .mainEnd .wrapper {
    flex-direction: column;
  }
  .footer__up {
    flex-direction: column;
    align-items: center;
  }
  .footer__up a {
    margin-bottom: 1em;
  }
}
@media (max-width: 700px) {
  .mainOne {
    flex-direction: column;
  }
  .mainOne__right {
    width: 100%;
    font-size: 2rem;
    order: 1;
    padding-right: 0;
    text-align: center;
  }
  .mainOne__right h1 {
    font-size: 3rem;
  }
  .mainOne__right-btn {
    font-size: 2rem;
  }
  .mainOne__left {
    width: 100%;
    margin-bottom: 5px;
  }
  .mainEnd {
    text-align: center;
  }
  .mainEnd__form input {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.3rem;
  }
  .nav__logo-img {
    font-size: 2.8rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.8rem;
  }
  .header__text {
    padding-left: 3em;
  }
  .mainOne {
    flex-direction: column;
  }
  .mainOne__right {
    width: 100%;
    font-size: 2rem;
    order: 1;
    padding-right: 0;
    text-align: center;
  }
  .mainOne__right h1 {
    font-size: 3rem;
  }
  .mainOne__right-btn {
    font-size: 2rem;
  }
  .mainOne__left {
    width: 100%;
    margin-bottom: 5px;
  }
  .mainGallery {
    padding: 3em;
  }
  .mainGallery h1 {
    font-size: 3rem;
    position: relative;
  }
  .mainGallery h1::before {
    width: 21%;
  }
  .mainGallery__box__once {
    width: 70%;
  }
  .mainGallery-btn {
    font-size: 2rem;
  }
  .mainCall__btn {
    width: 80%;
    margin-bottom: 1em;
    font-size: 2rem;
  }
  .mainEnd {
    text-align: center;
  }
  .mainEnd__form input {
    width: 28rem;
  }
  .mainEnd__form-button {
    width: 27rem;
  }
  .footer__up {
    flex-direction: column;
    font-size: 1.8rem;
    align-items: center;
  }
  .footer__up a {
    margin-bottom: 1em;
  }
}
@media (max-width: 375px) {
  .nav__logo-img {
    font-size: 2.5rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.5rem;
  }
  .header__text {
    padding-left: 2em;
  }
  .mainOne__right {
    font-size: 1.8rem;
  }
  .mainOne__right h1 {
    font-size: 2.8rem;
  }
  .mainOne__right-btn {
    font-size: 1.8rem;
  }
  .mainTwo__elements {
    font-size: 1.8rem;
  }
  .mainTwo__elements h2 {
    font-size: 3rem;
  }
  .mainTwo .wrapper {
    flex-direction: column;
  }
  .footer {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .nav {
    padding: 0em;
  }
  .nav__logo {
    font-size: 2.1rem;
    word-spacing: 0;
  }
  .nav__logo-img {
    font-size: 2.5rem;
  }
  .nav .burger {
    display: flex;
    font-size: 2.5rem;
  }
  .header__text {
    padding-left: 3em;
  }
  .header__text h1 {
    font-size: 2.5rem;
  }
  .header__text p {
    margin-top: 0.1em;
    font-size: 2rem;
  }
  .header__text-btn {
    padding: 6px 18px;
    font-size: 1.8rem;
  }
}
@media (min-width: 2000px) {
  .header {
    height: 40vh;
  }
  .header__text {
    margin-top: 14vh;
  }
  .header__text h1 {
    font-size: 5rem;
  }
  .header__text p {
    font-size: 3rem;
  }
  .header__text-btn {
    font-size: 3rem;
  }
  .nav__logo {
    font-size: 4rem;
  }
  .nav__logo-img {
    font-size: 4rem;
  }
  .nav__links {
    font-size: 3.8rem;
  }
  .mainOne__right {
    font-size: 2.4rem;
  }
  .mainOne__right-btn {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=main.css.map */