.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.t {
	width: 20%;
	height: 6%;
	border: none;
	background-color: $background;
	position: absolute;
	bottom: -2px;
	right: -50px;
	transform: skewX(-60deg);
}
.d {
	width: 20%;
	height: 6%;
	border: none;
	background-color: $background;
	position: absolute;
	top: -2px;
	left: -50px;
	transform: skewX(-60deg);
}
