.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.decoration-T {
	width: 20%;
	height: 6%;
	border: none;
	background-color: $background;
	position: absolute;
	bottom: -4px;
	right: -50px;
	transform: skewX(-60deg);
}
.decoration-D {
	width: 20%;
	height: 6%;
	border: none;
	background-color: $background;
	position: absolute;
	top: -4px;
	left: -50px;
	transform: skewX(-60deg);
}
