@import './colors';
@import './components';
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;

	scroll-behavior: smooth;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
	background-color: $background;
}
// NAV
.nav {
	width: 100%;
	height: 12vh;
	background-color: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.8rem;
	padding: 1em;

	&__logo {
		font-size: 2.8rem;
		word-spacing: 0.2em;
		letter-spacing: 0.1em;
		cursor: pointer;
		a {
			text-decoration: none;
			color: black;
		}
		&:hover .nav__logo-img {
			transform: scale(1.15);
			color: $hover-color;
		}
		&-img {
			color: $dark;
			font-size: 3.2rem;
		}
	}
	&__links {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-size: 2.6rem;
		width: 60%;

		a {
			text-decoration: none;
			color: black;
			cursor: pointer;
			overflow: hidden;
			transition: 0.3s;
			&:hover {
				color: $hover-color;
				transform: scale(1.2);
			}
		}
		&__mobile {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			position: fixed;
			list-style: none;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
			transform: translateY(-100%);
			background: linear-gradient(
				159deg,
				rgba(0, 222, 230, 1) 0%,
				rgba(82, 223, 228, 1) 22%,
				rgba(32, 186, 178, 1) 100%
			);
			li {
				width: 60vw;
				text-align: center;
				border: 2px solid $dark;
				border-radius: 25px;
				padding: 2px;
				transition: 0.3s;
				&:hover {
					width: 85vw;
					border: 2px solid $hover-color;
				}
			}
			.close {
				position: absolute;
				top: 0;
				right: 0;
				padding: 20px 20px;
				font-size: 3rem;
				cursor: pointer;
				color: $dark;
				transition: 1s ease-in-out;

				&:hover {
					transform: rotate(360deg);
					color: $hover-color;
				}
			}

			&-active {
				transform: translateY(0);
			}
			&-item {
				text-decoration: none;
				display: block;
				transition: 0.3s;
				margin-bottom: 5px;
				font-size: 30px;
				color: black;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.burger {
		display: none;
		justify-content: space-around;
		align-items: center;

		font-size: 3rem;
		cursor: pointer;
		color: $dark;
		transition: 0.3s ease-in-out;

		&:hover {
			color: $hover-color;
			transform: rotate(90deg);
			transform-origin: center;
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

// HEADER
.header {
	height: 88vh;
	background-image: url('../img/main-big.jpg');
	background-position: center;
	background-size: cover;
	display: flex;

	align-items: flex-end;
	flex-direction: column;

	// &__spacer {
	// 	height: 20vh;
	// }
	&__text {
		justify-content: flex-start;
		padding-left: 6em;
		margin-top: 19vh;
		width: 45%;
		color: $white-text;
		h1 {
			font-size: 5rem;
			letter-spacing: 0.05em;
		}
		p {
			margin-top: 0.2em;
			font-size: 2.5rem;
			margin-bottom: 1em;
		}
		&-btn {
			padding: 7px 22px;
			text-decoration: none;
			border-radius: 20px;
			border: none;
			font-size: 2.5rem;
			background-color: $main-color;
			color: $white-text;
			transition: ease-out 0.3s;

			&:hover {
				color: $white-text;
				border-radius: 0px;
				box-shadow: inset 0 -100px 0 0 $dark;
			}
		}
	}
}

// MAIN
.main {
	background-color: rgb(240, 240, 240);
}
.mainOne {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	padding: 3em 3em;
	&__right {
		width: 55%;
		padding-right: 2em;
		font-size: 2.3rem;
		color: $dark-text;
		text-align: justify;

		h1 {
			margin-bottom: 15px;
			color: black;
			font-size: 4rem;
		}
		p {
			margin-bottom: 1em;
		}
		&-btn {
			padding: 7px 22px;
			border-radius: 20px;
			text-decoration: none;
			border: none;
			font-size: 2.2rem;
			background-color: $main-color;
			color: $dark-text;
			transition: ease-out 0.3s;

			&:hover {
				color: $white-text;
				border-radius: 0px;
				box-shadow: inset 0 -100px 0 0 $dark;
			}
		}
	}
	&__left {
		width: 45%;

		img {
			border-radius: 10px;
			background-position: center;
			background-size: cover;
			width: 100%;
		}
	}
}
// MEDIA
@media (max-width: 768px) {
	.nav {
		padding: 0em;
		&__logo {
			font-size: 2.5rem;
			word-spacing: 0.1em;
		}

		&__links {
			display: none;
		}
		.burger {
			display: flex;
		}
		.wrapper {
			justify-content: space-between;
			padding: 0 1em 0 1em;
		}
	}
	.header {
		&__text {
			width: 75%;
			h1 {
				font-size: 3.2rem;
			}
			p {
				margin-top: 0.2em;
				font-size: 2.2rem;
				margin-bottom: 0.6em;
			}
			&-btn {
				padding: 7px 20px;

				font-size: 2rem;
			}
		}
	}
	.mainOne {
		&__right {
			font-size: 2rem;
			h1 {
				font-size: 3rem;
			}
			&-btn {
				font-size: 2rem;
			}
		}
	}
}
@media (max-width: 700px) {
	.mainOne {
		flex-direction: column;

		&__right {
			width: 100%;
			font-size: 2rem;
			order: 1;
			padding-right: 0;
			text-align: center;
			h1 {
				font-size: 3rem;
			}

			&-btn {
				font-size: 2rem;
			}
		}
		&__left {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}
@media (max-width: 425px) {
	.nav {
		padding: 0em;
		&__logo {
			font-size: 2.3rem;
			&-img {
				font-size: 2.8rem;
			}
		}
		.burger {
			display: flex;
			font-size: 2.8rem;
		}
	}
	.header {
		&__text {
			padding-left: 3em;
		}
	}
	.mainOne {
		flex-direction: column;

		&__right {
			width: 100%;
			font-size: 2rem;
			order: 1;
			padding-right: 0;
			text-align: center;
			h1 {
				font-size: 3rem;
			}

			&-btn {
				font-size: 2rem;
			}
		}
		&__left {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}
@media (max-width: 375px) {
	.nav {
		&__logo {
			&-img {
				font-size: 2.5rem;
			}
		}
		.burger {
			display: flex;
			font-size: 2.5rem;
		}
	}
	.header {
		&__text {
			padding-left: 2em;
		}
	}
	.mainOne {
		&__right {
			font-size: 1.8rem;

			h1 {
				font-size: 2.8rem;
			}

			&-btn {
				font-size: 1.8rem;
			}
		}
	}
}
@media (max-width: 320px) {
	.nav {
		padding: 0em;
		// padding-left: 0.8em;
		// padding-right: 0.8em;
		&__logo {
			font-size: 2.1rem;
			word-spacing: 0;
			&-img {
				font-size: 2.5rem;
			}
		}
		.burger {
			display: flex;
			font-size: 2.5rem;
		}
	}

	.header {
		&__text {
			padding-left: 3em;
			h1 {
				font-size: 2.5rem;
			}
			p {
				margin-top: 0.1em;
				font-size: 2rem;
			}
			&-btn {
				padding: 6px 18px;

				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 992px) {
}

@media (min-width: 2000px) {
	.header {
		height: 40vh;
		&__text {
			margin-top: 14vh;
			h1 {
				font-size: 5rem;
			}
			p {
				font-size: 3rem;
			}
			&-btn {
				font-size: 3rem;
			}
		}
	}
	.nav {
		&__logo {
			font-size: 4rem;

			&-img {
				font-size: 4rem;
			}
		}
		&__links {
			font-size: 3.8rem;
		}
	}
	.mainOne {
		&__right {
			font-size: 2.4rem;
			&-btn {
				font-size: 2.4rem;
			}
		}
	}
}
